{% extends 'base.html.twig' %}

{% block title %}{{ 'cart.title'|trans }}{% endblock %}

{% block body %}
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>{{ 'cart.title'|trans }}</h4>
                        <div class="breadcrumb__links">
                            <a href="{{ path('app_home') }}">{{ 'navbar.home'|trans }}</a>
                            <a href="{{ path('app_shop') }}">{{ 'navbar.shop'|trans }}</a>
                            <span>{{ 'cart.title'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, element in cart %}
                                    {% set product = element.product %}
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src="{{ asset('uploads/products/' ~ product.picture) }}" width="90" alt="{{ product.name }}">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <a href="{{ path('app_shop_detail', {'slug': product.slug}) }}">
                                                    <h6>{{ product.name }}</h6>
                                                </a>
                                                <h5>
                                                    {{ product.price }} €
                                                    ({{ 'quantity.short'|trans }}: {{ element.quantity }})
                                                </h5>
                                            </div>
                                        </td>
                                        <td class="cart__price">{{ product.price * element.quantity }} €</td>
                                        <td class="cart__close">
                                            {{ include('cart/_delete_form.html.twig', {'id': product.id}) }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">
                                            <div class="alert alert-info">{{ 'cart.empty'|trans }}</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!--<div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>-->
                    <div class="cart__total">
                        <h6>{{ 'cart.total'|trans }}</h6>
                        <ul>
                            <!--<li>Subtotal <span>$ 169.50</span></li>-->
                            <li>{{ 'total'|trans }} <span>{{ total }} €</span></li>
                        </ul>
                        {% if cart is not empty and total > 0 %}
                            <form action="{{ path('app_cart') }}" method="post">
                                <button type="submit" class="primary-btn">{{ 'cart.pay'|trans }}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
