{% extends 'base.html.twig' %}

{% block title %}{{ 'cart'|trans }}{% endblock %}

{% block body %}
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>{{ 'cart.payment.title'|trans }}</h4>
                        <div class="breadcrumb__links">
                            <a href="{{ path('app_home') }}">{{ 'nav.home'|trans }}</a>
                            <a href="{{ path('app_shop') }}">{{ 'nav.shop'|trans }}</a>
                            <span>{{ 'cart.payment.title'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#" id="payment-form">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p class="font-weight-bold">Saisissez les informations de votre carte de paiement</p>
                                        <div id="payment-element"></div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" placeholder="Street Address" class="checkout__input__add">
                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="acc">
                                    Create an account?
                                    <input type="checkbox" id="acc">
                                    <span class="checkmark"></span>
                                </label>
                                <p>Create an account by entering the information below. If you are a returning customer
                                    please login at the top of the page</p>
                            </div>
                            <div class="checkout__input">
                                <p>Account Password<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Note about your order, e.g, special noe for delivery
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text"
                                       placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>-->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    {% for key, element in cart %}
                                        {% set product = element.product %}
                                        <li style="font-size: small">
                                            {{ product.name }}
                                            {% if element.quantity > 1 %}
                                                (x{{ element.quantity }})
                                            {% endif %}
                                            <span>{{ product.price * element.quantity }} €</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>{{ 'total'|trans }} <span>{{ total }} €</span></li>
                                </ul>
                                <p>{{ 'cart.payment.card'|trans }}</p>
                                <button type="submit" class="site-btn" id="handle-payment">{{ 'cart.payment.proceed'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>

        document
            .querySelector("#payment-form")
            .addEventListener("submit", handleSubmit);

        const stripe = new Stripe(`{{ constant('App\\Service\\Stripe::API_PUBLIC_KEY') }}`)

        const elements = stripe.elements({
            'clientSecret': `{{ stripe_client_secret }}`
        })

        const paymentElement = elements.create("payment");
        paymentElement.mount("#payment-element");

        async function handleSubmit(e) {
            e.preventDefault();
            //setLoading(true);

            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    // Make sure to change this to your payment completion page
                    return_url: `{{ url('app_cart_payment_confirm') }}`,
                },
            });

            // This point will only be reached if there is an immediate error when
            // confirming the payment. Otherwise, your customer will be redirected to
            // your `return_url`. For some payment methods like iDEAL, your customer will
            // be redirected to an intermediate site first to authorize the payment, then
            // redirected to the `return_url`.
            if (error.type === "card_error" || error.type === "validation_error") {
                console.error(error.message);
            } else {
                console.error("An unexpected error occurred.");
            }

            //setLoading(false);
        }
    </script>
{% endblock %}