<ul class="nav flex-column text-center">
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('app_home') }}">
            {{ 'navbar.admin.backToSite'|trans }}
        </a>
    </li>
    <hr class="w-75 mx-auto">
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('admin_dashboard_index') }}">
            {{ 'navbar.admin.dashboard'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('admin_order_index') }}">
            {{ 'navbar.admin.orders'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('admin_category_index') }}">
            {{ 'navbar.admin.category'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('admin_product_index') }}">
            {{ 'navbar.admin.product'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('admin_pages_index') }}">
            {{ 'navbar.admin.pages'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="{{ path('admin_article_index') }}">
            {{ 'navbar.admin.article'|trans }}
        </a>
    </li>
    <hr class="w-75 mx-auto">
    <li class="nav-item">
        <a class="nav-link text-decoration-none text-black" href="#">{{ 'navbar.admin.logout'|trans }}</a>
    </li>
</ul>