{% extends 'admin.html.twig' %}

{% block title %}{{ 'pages.list'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'pages.list'|trans }}</h1>

        <a href="{{ path('admin_pages_new') }}" class="btn btn-success float-end my-3">{{ 'pages.create'|trans }}</a>

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'pages.title'|trans }}</th>
                <th>{{ 'pages.createdAt'|trans }}</th>
                <th>{{ 'pages.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.title }}</td>
                    <td>{{ page.createdAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <div class="d-flex gap-3">
                            {{ include('admin/pages/_show_modal.html.twig', {'page': page}) }}
                            <a href="{{ path('admin_pages_edit', {'id': page.id}) }}" class="btn btn-primary btn-sm">
                                {{ 'pages.edit'|trans }}
                            </a>
                            {{ include('admin/pages/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'pages.empty'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
