{% apply inline_css %}
    <style>
        h1, p {
            text-align: center;
        }
    </style>

    <center>
        <img src="cid:logo" alt="Manga Mania" style="margin: 0 auto">
    </center>

    <p>Votre transaction sur Manga Mania a bien été effectuée. Merci !</p>

    <p>
        Vous trouverez une copie des détails de votre transaction ci-dessous,
        ainsi qu'un lien vers les conditions applicables. Veuillez les imprimer et les conserver en lieu sûr
        pour pouvoir vous y reporter ultérieurement.
    </p>

    <table style="width: 100%">
        <!-- Références de la commande -->
        <tr>
            <td style="border-top: 1px solid darkgrey">Référence de la commande : {{ order.reference }}</td>
            <td style="background-color: darkgrey; text-align: right; padding: 5px">
                Client : {{ user.fullName }}<br>
                Date d'achat : {{ order.createdAt|date('d/m/Y H:i') }}
            </td>
        </tr>

        <!-- Détails de la commande -->
        <tr style="background-color: black; color: white">
            <td style="text-align: left; padding: 5px">Détails</td>
            <td style="text-align: right; padding: 5px">Prix</td>
        </tr>

        {% for key, element in cart %}
            {% set product = element.product %}
            <tr>
                <td>{{ product.name }} ({{ 'quantity.short'|trans }} {{ element.quantity }})</td>
                <td style="text-align: right">{{ product.price * element.quantity }} €</td>
            </tr>
        {% endfor %}

        <!-- Résumé de la commande -->
        <tr>
            <td colspan="2" style="text-align: right">
                Total : {{ total }} €
            </td>
        </tr>
    </table>

    <hr>
{% endapply %}